<META HTTP-EQUIV="refresh" CONTENT="3;URL=/converts">
<h1>Sending request to CloudConvert...</h1>
<p>If not redirected within 5 seconds, click <%= link_to 'here', 'converts' %></p>
DEBUG DATA:

<%= raw(@conversion.list_conversions) %>
<%= raw(@conversion.download_link) %>